@charset "UTF-8";

/* Resetowanie wszystkich marginesów i paddingów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ustawienia domyślne dla body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #28b463;
  background-color: var(--body-bg-color, #f5f5f5);
  transition: background-color 0.5s ease;
}

.dark {
  background-color: #333;
  color: white;
}

/* Ustawienia domyślne dla nagłówków i akapitów */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: #28b463;
}

p, ul, ol {
  margin-bottom: 1.5rem;
}

/* Ustawienia domyślne dla list */
ul, ol {
  list-style: none;
}

/* Ustawienia domyślne dla obrazków */
img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Ustawienia domyślne dla tabel */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ustawienia domyślne dla formularzy */
form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.vst-error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

/* Dodatkowe ustawienia */
html, body {
  border-radius: 4px;
}

a {
  color: #333;
}

a:hover {
  color: #28b463;
}

/* Kolorystyka w zależności od preferencji */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f5f5f5;
    color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: #f5f5f5;
    color: #333;
  }
}

/* Kontener */
.vst-container {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .vst-container:not(.vst-container--fluid) {
    width: 556px;
  }
}

@media (min-width: 768px) {
  .vst-container:not(.vst-container--fluid) {
    width: 748px;
  }
}

@media (min-width: 992px) {
  .vst-container:not(.vst-container--fluid) {
    width: 972px;
  }
}

@media (min-width: 1200px) {
  .vst-container:not(.vst-container--fluid) {
    width: 1180px;
  }
}

nav + .vst-container {
  margin-top: 80px;
}

/* Styl głównej zawartości */
.vst-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.vst-row::after {
    content: '';
    clear: both;
    display: block;
}

    /* Dodatkowy styl dla czytelności */
    vst-pre {
      border-radius: 5px;
      overflow-x: auto;
    }

/* Styl nagłówka */
.vst-header {
  position: absolute; /* Ustawienie pozycji na absolutną */
  top: 0; /* Umieszczenie na górze kontenera */
  left: 50%; /* Umieszczenie na środku */
  transform: translateX(-50%); /* Wyśrodkowanie względem szerokości */
  z-index: 2; /* Indeks warstwy, większy niż indeks kontenera */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}



/* Styl nagłówka dla jasnego tła */
@media (vst-toogle-color: light) {
  .vst-header {
    color: #333; /* Kolor tekstu dla jasnego tła */
  }
}

/* Styl nagłówka dla ciemnego tła */
@media (vst-toogle-color: dark) {
  .vst-header {
    color: #ccc; /* Kolor tekstu dla ciemnego tła */
  }
}

/***************************
			kolumny
****************************/

.vst-col {
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 576px) {
    .vst-col--xs-1, .vst-col--xs-2, .vst-col--xs-3, .vst-col--xs-4, .vst-col--xs-5, .vst-col--xs-6, .vst-col--xs-7, .vst-col--xs-8, .vst-col--xs-9, .vst-col--xs-10, .vst-col--xs-11, .vst-col--xs-12 {
        float: left;
    }
    .vst-col--xs-right {
        float: right !important;
    }
    .vst-col--xs-offset-1 {
        margin-left: 8.vst-33333%;
    }
    .vst-col--xs-offset-2 {
        margin-left: 16.vst-66667%;
    }
    .vst-col--xs-offset-3 {
        margin-left: 25%;
    }
    .vst-col--xs-offset-4 {
        margin-left: 33.vst-33333%;
    }
    .vst-col--xs-offset-5 {
        margin-left: 41.vst-66667%;
    }
    .vst-col--xs-offset-6 {
        margin-left: 50%;
    }
    .vst-col--xs-offset-7 {
        margin-left: 58.vst-33333%;
    }
    .vst-col--xs-offset-8 {
        margin-left: 66.vst-66667%;
    }
    .vst-col--xs-offset-9 {
        margin-left: 75%;
    }
    .vst-col--xs-offset-10 {
        margin-left: 83.vst-33333%;
    }
    .vst-col--xs-offset-11 {
        margin-left: 91.vst-66667%;
    }
    .vst-col--xs-offset-12 {
        margin-left: 100%;
    }
    .vst-col--xs-1 {
        width: 8.vst-33333%;
    }
    .vst-col--xs-2 {
        width: 16.vst-66667%;
    }
    .vst-col--xs-3 {
        width: 25%;
    }
    .vst-col--xs-4 {
        width: 33.vst-33333%;
    }
    .vst-col--xs-5 {
        width: 41.vst-66667%;
    }
    .vst-col--xs-6 {
        width: 50%;
    }
    .vst-col--xs-7 {
        width: 58.vst-33333%;
    }
    .vst-col--xs-8 {
        width: 66.vst-66667%;
    }
    .vst-col--xs-9 {
        width: 75%;
    }
    .vst-col--xs-10 {
        width: 83.vst-33333%;
    }
    .vst-col--xs-11 {
        width: 91.vst-66667%;
    }
    .vst-col--xs-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .vst-col--sm-1, .vst-col--sm-2, .vst-col--sm-3, .vst-col--sm-4, .vst-col--sm-5, .vst-col--sm-6, .vst-col--sm-7, .vst-col--sm-8, .vst-col--sm-9, .vst-col--sm-10, .vst-col--sm-11, .vst-col--sm-12 {
        float: left;
    }
    .vst-col--sm-right {
        float: right !important;
    }
    .vst-col--sm-offset-1 {
        margin-left: 8.vst-33333%;
    }
    .vst-col--sm-offset-2 {
        margin-left: 16.vst-66667%;
    }
    .vst-col--sm-offset-3 {
        margin-left: 25%;
    }
    .vst-col--sm-offset-4 {
        margin-left: 33.vst-33333%;
    }
    .vst-col--sm-offset-5 {
        margin-left: 41.vst-66667%;
    }
    .vst-col--sm-offset-6 {
        margin-left: 50%;
    }
    .vst-col--sm-offset-7 {
        margin-left: 58.vst-33333%;
    }
    .vst-col--sm-offset-8 {
        margin-left: 66.vst-66667%;
    }
    .vst-col--sm-offset-9 {
        margin-left: 75%;
    }
    .vst-col--sm-offset-10 {
        margin-left: 83.vst-33333%;
    }
    .vst-col--sm-offset-11 {
        margin-left: 91.vst-66667%;
    }
    .vst-col--sm-offset-12 {
        margin-left: 100%;
    }
    .vst-col--sm-1 {
        width: 8.vst-33333%;
    }
    .vst-col--sm-2 {
        width: 16.vst-66667%;
    }
    .vst-col--sm-3 {
        width: 25%;
    }
    .vst-col--sm-4 {
        width: 33.vst-33333%;
    }
    .vst-col--sm-5 {
        width: 41.vst-66667%;
    }
    .vst-col--sm-6 {
        width: 50%;
    }
    .vst-col--sm-7 {
        width: 58.vst-33333%;
    }
    .vst-col--sm-8 {
        width: 66.vst-66667%;
    }
    .vst-col--sm-9 {
        width: 75%;
    }
    .vst-col--sm-10 {
        width: 83.vst-33333%;
    }
    .vst-col--sm-11 {
        width: 91.vst-66667%;
    }
    .vst-col--sm-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .vst-col--md-1, .vst-col--md-2, .vst-col--md-3, .vst-col--md-4, .vst-col--md-5, .vst-col--md-6, .vst-col--md-7, .vst-col--md-8, .vst-col--md-9, .vst-col--md-10, .vst-col--md-11, .vst-col--md-12 {
        float: left;
    }
    .vst-col--md-right {
        float: right !important;
    }
    .vst-col--md-offset-1 {
        margin-left: 8.vst-33333%;
    }
    .vst-col--md-offset-2 {
        margin-left: 16.vst-66667%;
    }
    .vst-col--md-offset-3 {
        margin-left: 25%;
    }
    .vst-col--md-offset-4 {
        margin-left: 33.vst-33333%;
    }
    .vst-col--md-offset-5 {
        margin-left: 41.vst-66667%;
    }
    .vst-col--md-offset-6 {
        margin-left: 50%;
    }
    .vst-col--md-offset-7 {
        margin-left: 58.vst-33333%;
    }
    .vst-col--md-offset-8 {
        margin-left: 66.vst-66667%;
    }
    .vst-col--md-offset-9 {
        margin-left: 75%;
    }
    .vst-col--md-offset-10 {
        margin-left: 83.vst-33333%;
    }
    .vst-col--md-offset-11 {
        margin-left: 91.vst-66667%;
    }
    .vst-col--md-offset-12 {
        margin-left: 100%;
    }
    .vst-col--md-1 {
        width: 8.vst-33333%;
    }
    .vst-col--md-2 {
        width: 16.vst-66667%;
    }
    .vst-col--md-3 {
        width: 25%;
    }
    .vst-col--md-4 {
        width: 33.vst-33333%;
    }
    .vst-col--md-5 {
        width: 41.vst-66667%;
    }
    .vst-col--md-6 {
        width: 50%;
    }
    .vst-col--md-7 {
        width: 58.vst-33333%;
    }
    .vst-col--md-8 {
        width: 66.vst-66667%;
    }
    .vst-col--md-9 {
        width: 75%;
    }
    .vst-col--md-10 {
        width: 83.vst-33333%;
    }
    .vst-col--md-11 {
        width: 91.vst-66667%;
    }
    .vst-col--md-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .vst-col--lg-1, .vst-col--lg-2, .vst-col--lg-3, .vst-col--lg-4, .vst-col--lg-5, .vst-col--lg-6, .vst-col--lg-7, .vst-col--lg-8, .vst-col--lg-9, .vst-col--lg-10, .vst-col--lg-11, .vst-col--lg-12 {
        float: left;
    }
    .vst-col--lg-right {
        float: right !important;
    }
    .vst-col--lg-offset-1 {
        margin-left: 8.vst-33333%;
    }
    .vst-col--lg-offset-2 {
        margin-left: 16.vst-66667%;
    }
    .vst-col--lg-offset-3 {
        margin-left: 25%;
    }
    .vst-col--lg-offset-4 {
        margin-left: 33.vst-33333%;
    }
    .vst-col--lg-offset-5 {
        margin-left: 41.vst-66667%;
    }
    .vst-col--lg-offset-6 {
        margin-left: 50%;
    }
    .vst-col--lg-offset-7 {
        margin-left: 58.vst-33333%;
    }
    .vst-col--lg-offset-8 {
        margin-left: 66.vst-66667%;
    }
    .vst-col--lg-offset-9 {
        margin-left: 75%;
    }
    .vst-col--lg-offset-10 {
        margin-left: 83.vst-33333%;
    }
    .vst-col--lg-offset-11 {
        margin-left: 91.vst-66667%;
    }
    .vst-col--lg-offset-12 {
        margin-left: 100%;
    }
    .vst-col--lg-1 {
        width: 8.vst-33333%;
    }
    .vst-col--lg-2 {
        width: 16.vst-66667%;
    }
    .vst-col--lg-3 {
        width: 25%;
    }
    .vst-col--lg-4 {
        width: 33.vst-33333%;
    }
    .vst-col--lg-5 {
        width: 41.vst-66667%;
    }
    .vst-col--lg-6 {
        width: 50%;
    }
    .vst-col--lg-7 {
        width: 58.vst-33333%;
    }
    .vst-col--lg-8 {
        width: 66.vst-66667%;
    }
    .vst-col--lg-9 {
        width: 75%;
    }
    .vst-col--lg-10 {
        width: 83.vst-33333%;
    }
    .vst-col--lg-11 {
        width: 91.vst-66667%;
    }
    .vst-col--lg-12 {
        width: 100%;
    }
}

/* artykuły */

    /* Dodatkowy styl dla czytelności */
    .vst-ar {
      display: grid;
      gap: 20px;
      margin-bottom: 20px;
    }

    .vst-ar-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .vst-ar-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    /* Dodatkowy styl dla elementu article */
    article {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 5px;
    }
	
    /* Dodanie przerwy między kolumnami */
    .vst-ar-2 > *:nth-child(odd),
    .vst-ar-3 > *:nth-child(3n+1) {
      background-color: #f0f0f0; /* Kolor tła dla przerwy między kolumnami */
    }
	
	    /* Styl dla elementu column-choice */
    #vst-column-choice {
      margin-top: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
	
	    /* Dodatkowe style dla przeglądarki Opera */
    @media not all and (-webkit-min-device-pixel-ratio:0) { /* Style dla przeglądarki Opera */
      #vst-column-choice {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="black" d="M9 13l4-4H7z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px top 50%, 0 0;
        background-size: 20px auto;
        padding-right: 30px;
      }
    }

/* Klasa pomocnicza dla treści */
.vst-content {
  display: flex;
  flex-wrap: wrap;  
  margin-top: 40px; /* Dodaj odpowiedni margines na górze */
}


/* Klasa do wyśrodkowania treści */
.vst-content.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Klasa do pola do pisania tekstu z marginesami */
.vst-content.text {
  width: 50%; /* Szerokość pola */
  margin: 0 25%; /* Marginesy po obu stronach */
}


.vst-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Ustaw jasne tło */
}
.vst-menu__logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.vst-menu__logo img {
  height: 40px;
}

.vst-menu__menu-toggle {
  display: none;
}

.vst-menu__menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

/*styl listy menu*/
.vst-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Domyślne style dla vst-menu-item */
.vst-menu-item {
  margin-right: 20px;
}


.vst-menu-link {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .vst-menu__menu {
    display: none;
  }

  /*styl zakladek menu */
  
  .vst-menu__menu-toggle {
    display: block;
    cursor: pointer;
    padding: 0 20px;
  }

  .vst-menu__menu-toggle-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 5px auto;
    transition: transform 0.3s ease;
  }

    /* Dodatkowy styl dla burger menu */
    .vst-menu.is-active .vst-menu__menu-toggle-bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    .vst-menu.is-active .vst-menu__menu-toggle-bar:nth-child(2) {
      opacity: 0;
    }
    .vst-menu.is-active .vst-menu__menu-toggle-bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
	
  .vst-menu.is-active .vst-menu__menu {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
  }

  .vst-menu.is-active .vst-menu-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .vst-menu.is-active .vst-menu-item {
    margin-right: 0;
	color: #fff;
  }
    }

.vst-main {
  padding: 2rem;
  flex: 1; /* Główna zawartość zajmuje dostępne miejsce */
  margin-top: 40px; /* Dodaj odpowiedni margines na górze */
  color: #333; /* Kolor tekstu */
  text-align: center; /* Wyjustowanie tekstu */
}

/* Styl obrazka */
.vst-image {
  max-width: 100%; /* Obrazek zajmuje maksymalną dostępną szerokość */
  height: auto; /* Proporcjonalna wysokość */
  border-radius: 8px; /* Zaokrąglenie rogów */
  margin-bottom: 20px; /* Odstęp na dole */
}

/* Styl stopki */
.vst-footer {
  background-color: #333; /* Kolor tła stopki */
  color: #fff; /* Kolor tekstu */
  padding: 20px; /* Wewnętrzne wypełnienie */
  text-align: center; /* Wyjustowanie tekstu */
  position: fixed; /* Ustawienie pozycji na stałe */
  bottom: 0; /* Odległość od dołu strony */
  left: 0; /* Odległość od lewej krawędzi */
  width: 100%; /* Szerokość stopki */
}


/* Styl przycisków */
.vst-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 4px; /* Zaokrąglenie rogów */
}

/* Styl przycisku podstawowego */
.vst-btn-primary {
  background-color: #007bff; /* Kolor tła */
  color: #fff; /* Kolor tekstu */
}

/* Styl przycisku drugorzędny */
.vst-btn-secondary {
  background-color: #6c757d; /* Kolor tła */
  color: #fff; /* Kolor tekstu */
}

/* Styl przycisku informacyjnego */
.vst-btn-info {
  background-color: #17a2b8; /* Kolor tła */
  color: #fff; /* Kolor tekstu */
}

/* Styl przycisku błędu */
.vst-btn-error {
  background-color: #dc3545; /* Kolor tła */
  color: #fff; /* Kolor tekstu */
}

/* Efekt hover dla przycisków */
.vst-btn:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Dodanie cienia */
}

/* Styl dla nieaktywnych przycisków */
.vst-btn:disabled {
  opacity: 0.5; /* Ustawienie przezroczystości */
  cursor: not-allowed; /* Zmiana kursora na niedozwolony */
}

/* Dodatkowe style dla przycisków o różnych wielkościach */
.vst-btn-small {
  padding: 5px 10px; /* Mniejszy padding */
}

.vst-btn-large {
  padding: 15px 30px; /* Większy padding */
}

/* Styl ikony zmiany koloru strony */
#color-scheme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#color-scheme-toggle img {
  width: 100%;
  height: 100%;
}



/* Modal */
.vst-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.vst-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.vst-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.vst-modal-close:hover,
.vst-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
/* Dostosuj style formularza */
        .vst-form {
            max-width: 400px; /* Ustaw maksymalną szerokość formularza */
            margin: 0 auto; /* Wyśrodkuj formularz na stronie */
            padding: 20px; /* Dodaj wypełnienie wokół formularza */
            background-color: #fff; /* Biały kolor tła formularza */
            border-radius: 8px; /* Zaokrąglij rogi formularza */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Dodaj cień formularza */
        }
        .vst-form h2 {
            margin-top: 0; /* Usuń górny margines dla nagłówka */
        }
        .vst-form label {
            display: block; /* Wyświetl etykiety jako blok */
            margin-bottom: 6px; /* Dodaj odstęp między etykietami */
        }
        .vst-form input[type="text"],
        .vst-form input[type="email"],
        .vst-form input[type="password"],
        .vst-form select {
            width: 100%; /* Ustaw szerokość inputów na 100% */
            padding: 10px; /* Dodaj wypełnienie wokół inputów */
            margin-bottom: 10px; /* Dodaj odstęp między inputami */
            border: 1px solid #ccc; /* Dodaj obramowanie inputów */
            border-radius: 4px; /* Zaokrąglij rogi inputów */
            box-sizing: border-box; /* Ustaw model pudełkowy na border-box */
        }
        .vst-form button[type="submit"] {
            width: 100%; /* Ustaw szerokość przycisku na 100% */
            padding: 12px; /* Dodaj wypełnienie wokół przycisku */
            background-color: #007bff; /* Kolor tła przycisku */
            color: #fff; /* Kolor tekstu przycisku */
            border: none; /* Usuń obramowanie przycisku */
            border-radius: 4px; /* Zaokrąglij rogi przycisku */
            cursor: pointer; /* Zmień kursor na wskaźnik */
        }
        .vst-form button[type="submit"]:hover {
            background-color: #0056b3; /* Kolor tła przycisku po najechaniu */
        }
        .vst-form-link {
            display: block; /* Wyświetl linki jako blok */
            margin-top: 10px; /* Dodaj górny margines dla linków */
            text-align: right; /* Wyśrodkuj linki do prawej strony */
        }
